body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
}

header {
    height:450px;
    width:100%;
    margin-top: 0;    
    background-color: transparent;
    background: no-repeat center/100% url("./../images/header-back.png");
    text-align: center;
    color: white;
}


.header-content {
    width:70%;    
    text-align: center;
    margin:0 auto;
}

h1 {
    padding-top: 8%;
}

.link-buttom{
    display: inline-block;
    margin: 20px 0;
    padding: 20px 40px;
    border: #666 solid 1px;
    background-color:#333;
    color: white;
    text-decoration: none;
    font-size: medium;
}

/* header a:hover {
    color: black; 
    background: whitesmoke; 
   } */

.grey-container {
    background-color: #333;
    width: 100%;
    height: 600px;
    text-align: center;
}

.content {
    width:100%;
    /* height: 250px; */
    margin-bottom: 40px;
}

.columns-content {
    width:80%;
    /* height:80%ж */
    /* auto for centering content */
    margin:0 auto;
    padding: 0;
    column-count: 2;
    column-rule-style: none;
    text-align: center;    
    vertical-align: top;
}

.columns-h2 {
    padding-top: 2%; 
    text-align: center;    
}

.centered-content {
    width:70%;
    margin:0 auto;
    text-align: center;
    padding: 10px 0 30px 0;

}

.section-content {
    width:25%;
    height:90%;
    display:inline-block;
    box-sizing: border-box;
    margin:30px 10px;
    background:whitesmoke;
    color: black;
    text-align: center;
}

.section-content img {
    width:100%;
    height: 40%;
}

.section-content h3 {
    padding: 30px 0 0 0;
}

.section-content p {
    padding: 5%;
}

.container {
    width:100%;
    height: 340px;
}

.container h2 {
    padding: 15px 0;
}

.contact, .about {
    width:50%;
    /* overflow:hidden; */
    height: 100%;
    display:inline-block;
    box-sizing: border-box; 
    margin: 0;
    padding: 30px;
    color: white;
    text-align: center;
}

.contact {
    background-color: #2690d4;
}

.about {
    background-color: #333;
    float:right;
}

footer {
    /* display:block; */
    margin:0 auto;
    box-sizing: border-box; 
    padding: 40px;
    background-color: black;
    color: white;
    width:100%;
    height:100px;
    text-align: center;
}

.footer-left {
    width:50%;
    float:left;
}
.footer-right {
    width:50%;
    float:right;
}