body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
}

header {
    height:450px;
    width:100%;
    background-color: transparent;
    background: no-repeat center/100% url("./../images/header-back.png");
    text-align: center;
    color: white;
}

h1 {
    color:white;
    padding-top: 8%;
    text-align: center;
}

.white-text {
    color: white;
}

.div-grey {
    background-color: #333;
    width: 100%;
    height: 600px;
    text-align: center;
}

.link-buttom {
    display: inline-block;
    padding: 1em;
    border: #666 solid 1px;
    background-color:#333;
    color: white;
    text-decoration: none;
    font-size: medium;

}

.columns-content {
    width:80%;
    margin:0 auto;
    padding: 20px 0;
    column-count: 2;
    column-rule-style: none;
    text-align: center;
    
}
.columns-h2 {
    padding-top: 2%;
    text-align: center;
    
}

.centered-content {
    text-align: center;
    padding: 20px 20%;

}

.section-content {
    width:25%;
    height:90%;
    display:inline-block;
    box-sizing: border-box;
    margin:10px;
    background:whitesmoke;
    color: black;
    text-align: center;
}

.section-content img {
    width:100%;
    height: 40%;
}

.section-content h3 {
    padding: 30px 0 0 0;
}

.section-content p {
    padding: 5%;
}

.div-contact, .div-about {
    width:50%;
    overflow:hidden;
    height: 300px;
    display:inline-block;
    box-sizing: border-box; 
    margin: 0;
    padding: 30px;
    color: white;
    text-align: center;
}

.div-contact {
    background-color: #2690d4;
}

.div-about {
    background-color: #333;
    float:right;
}


footer {
    margin:0;
    background-color: black;
    color: white;
    width:100%;
    height:100px;
    text-align: center;
}